.dany {
  font-family: sans-serif;
  text-align: center;
  color: deeppink;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.dos {
  font-family: sans-serif;
  text-align: center;
  color: chartreuse;
}

.joakoApp {
  font-family: sans-serif;
  text-align: center;
  color: crimson;
}
.gs {
  font-family: sans-serif;
  text-align: center;
}
